﻿@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "ระบบแสดงรายละเอียดข่าว";
}

<h2>แสดงรายละเอียดข่าว</h2>

<div>
    <h4>รายละเอียดข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ชื่อย่อของหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
           ชื่อเต็ม/คำอธิบายหมวด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewscategoryID">แก้ไข</a> |
    <a asp-page="./Index">กลับไปยังหน้าหลัก</a>
</div>
