﻿@page
@model NewsReport.Pages.NewsCategoryAdmin.EditModel

@{
    ViewData["Title"] = "ระบบแก้ไขข่าว";
}

<h2>ระบบแก้ไขข่าว</h2>

<h4>แก้ไข</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsCategory.NewscategoryID" />
            <div class="form-group">
               ชื่อย่อของหมวดข่าว
                <input asp-for="NewsCategory.ShortName" class="form-control" />
                <span asp-validation-for="NewsCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
               ชื่อเต็ม/คำอธิบายหมวด
                <input asp-for="NewsCategory.FullName" class="form-control" />
                <span asp-validation-for="NewsCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไปหน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
