﻿@page
@model IndexModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<EatDerUser> SignInManager 
@inject UserManager<EatDerUser> UserManager
@using EatDer.Models
@{
    ViewData["Title"] = "EatDer";
}
<body style="background-color: aliceblue;">
<div class= "jumbotron" style="background-color: aquamarine;">
<center>
<h1>EatDer</h1>
<h2>(By Tinder)</h2>
</center>   

</div>

<h2>นัดกินข้าว</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                นัดครั้งที่
            </th>
            <th>
               สถานที่
            </th>
            <th>
                เวลานัดเจอ
            </th>
            <th>
               รายละเอียด
            </th>
            <th>
               อายุที่ต้องการ
            </th>
            <th>
               สเปค
            </th>
            <th>
             เพศที่ต้องการนัด
            </th>
            <th>
               ผู้โพส
            </th>
           
        </tr>
    </thead>
    <tbody>
@{ int i=1;
@foreach (var item in Model.EatDer) {
    if(DateTime.Now<=item.MeetTime){
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
               @item.postUser.FirstName @item.postUser.LastName
            </td>
            
        </tr>
        i++;
}
}
}
    </tbody>
</table>
<h2>นัดที่ผ่านไปแล้ว</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                นัดครั้งที่
            </th>
            <th>
               สถานที่
            </th>
            <th>
                เวลานัดเจอ
            </th>
            <th>
               รายละเอียด
            </th>
            <th>
               อายุที่ต้องการ
            </th>
            <th>
               สเปค
            </th>
            <th>
             เพศที่ต้องการนัด
            </th>
            <th>
               ผู้โพส
            </th>
           
        </tr>
    </thead>
    <tbody>
@{ int index=1;
@foreach (var item in Model.EatDer) {
    if(DateTime.Now>item.MeetTime){
        <tr>
            <td>
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
               @item.postUser.FirstName @item.postUser.LastName
            </td>
            
        </tr>
        index++;
}
}
}
    </tbody>
</table>
   
</body>   


