﻿@page

@using Microsoft.AspNetCore.Identity

@using NewsReport.Models
@model NewsReport.Pages.NewsAdmin.DetailsModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager
        @{
            ViewData["Title"] = "รายละเอียดข่าว";
        }

        <h2>รายละเอียดข่าว</h2>

        <div>
            <h4>รายละเอียดข่าว</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   หมวดข่าว
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.NewsCat.ShortName)
                </dd>
                <dt>
                    วันที่เกิดเหตุ
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.ReportDate)
                </dd>
                <dt>
                    รายละเอียดข่าว
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.NewsDetail)
                </dd>
                <dt>
                    ละติจูดจุดเกิดเหต
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.GpsLat)
                </dd>
                <dt>
                    ลองจิจูดจุดเกิดเหตุ
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.GpsLng)
                </dd>
                <dt>
                    สถานะของข่าว
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.NewsStatus)
                </dd>
                <dt>
                    โพสโดย: @UserManager.GetUserName(User)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.News.postUser.Id)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
