﻿@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@using Microsoft.AspNetCore.Identity

@using NewsReport.Models


@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager
        @{
            ViewData["Title"] = "ข่าวทั้งหมด";
        }

        <h2>Index</h2>

        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        หมวดข่าว
                    </th>
                    <th>
                        วันที่เกิดเหตุ
                    </th>
                    <th>
                        รายละเอียดข่าว
                    </th>
                    <th>
                        ละติจูดจุดเกิดเหต
                    </th>
                    <th>
                        ลองจิจูดจุดเกิดเหตุ
                    </th>
                    <th>
                        สถานะของข่าว
                    </th>
                    <th>
                        โพสโดย: @UserManager.GetUserName(User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.News)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GpsLat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GpsLng)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.postUser.Id)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
