@page
@model EatDer.Pages.EatMeetAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EatPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.Locations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.Locations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.MeetTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.MeetTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.Post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.Post)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.spec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.spec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatPost.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EatPost.EatPostID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
