@page
@model EatDer.Pages.EatMeetAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EatPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.Locations)
        </dd>
        <dt>
           เวลานัดเจอ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.MeetTime)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.Post)
        </dd>
        <dt>
            อายุที่ต้องการ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.age)
        </dd>
        <dt>
           สเปค
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.spec)
        </dd>
        <dt>
            เพศ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.gender)
        </dd>
        <dt>
           ผู้โพส
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatPost.postUser.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EatPost.EatPostID">แก้ไข</a> |
    <a asp-page="./Index">หน้าหลัก</a>
</div>
