@page
@model EatDer.Pages.EatMeetAdmin.EditModel
@using Microsoft.AspNetCore.Identity
@using EatDer.Models

@inject SignInManager<EatDerUser> SignInManager
@inject UserManager<EatDerUser> UserManager


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EatPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EatPost.EatPostID" />
            <div class="form-group">
                สถานที่
                <input asp-for="EatPost.Locations" class="form-control" />
                <span asp-validation-for="EatPost.Locations" class="text-danger"></span>
            </div>
            <div class="form-group">
               เวลานัดเจอ
                <input asp-for="EatPost.MeetTime" class="form-control" />
                <span asp-validation-for="EatPost.MeetTime" class="text-danger"></span>
            </div>
            <div class="form-group">
              รายละเอียด
                <input asp-for="EatPost.Post" class="form-control" />
                <span asp-validation-for="EatPost.Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                อายุที่ต้องการ
                <input asp-for="EatPost.age" class="form-control" />
                <span asp-validation-for="EatPost.age" class="text-danger"></span>
            </div>
            <div class="form-group">
                สเปค
                <input asp-for="EatPost.spec" class="form-control" />
                <span asp-validation-for="EatPost.spec" class="text-danger"></span>
            </div>
            <div class="form-group">
                เพศที่ต้องการเจอ
               <select asp-for="EatPost.gender" class="form-control">
                    <option value="ชาย" >ชาย</option>
                    <option value="หญิง">หญิง</option>
                    <option value="LGBT" >LGBT</option>
                </select>
                <span asp-validation-for="EatPost.gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                  ผู้โพส @UserManager.GetUserName(User)
                <input asp-for="EatPost.EatDerUserId" type="hidden"
                                value ="@UserManager.GetUserId(User)"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
