@page
@model EatDer.Pages.EatMeetAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>หน้าหลัก</h2>

<p>
    <a asp-page="Create">สร้าง</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                สถานที่
            </th>
            <th>
                เวลาที่เจอ
            </th>
            <th>
                รายละเอียด
            </th>
            <th>
               อายุที่ต้องการ
            </th>
            <th>
                สเปค
            </th>
            <th>
                เพศ
            </th>
            <th>
                ผู้โพส
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EatPost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EatPostID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.EatPostID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.EatPostID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
